/* CSS Document */


.navbar-inverse {
	
	background-color: #FFF;
	border-color: #FFF;
}


.navbar-inverse .navbar-nav>li>a {
	color: #3399CC;
	background: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover  {
	color: #333;
	background: #CCC;
}

.card-body {
	padding: 0rem;
	padding: 1px 12px;
	 background: linear-gradient(#ccc, #fff);
}

.card-text{
	margin-bottom: 0.5rem;
	font-size: small;
}

.card-lance-atual{
	display: block;
	margin-bottom: 0.5rem;
}
.card-lance-atual-valor{
	float: right;
}

p {
	margin-bottom: 0rem;
}

.btn-fechado{

}

.btn-group {
	/*
	width: 100%;
	*/
}

.btn-abe{
	background-color: #186529;
	border-color: #186529;
}

.btn-abe:hover{
	background-color: #186529;
	border-color: #186529;
}

.btn-emb{
	background-color: #6F5300;
	border-color: #6F5300;
}

.btn-emb:hover{
	background-color: #6F5300;
	border-color: #6F5300;
}

section {
	margin-right: 5%;
	margin-left: 5%;
}

.rodape {
	background: #333;
	width: 100%;
}

